.header-image {
    background-image: url("../images/banner.png");
    background-position: top left;
    background-attachment: scroll;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 26.04%; /* (img-height / img-width * width) */
                /* (853 / 1280 * 100) */
}

    .header-image-mobile {
        background-image: url("../images/stanley_banner_mobile.png");
        background-position: top left;
        background-attachment: scroll;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 0;
        overflow: hidden;
        padding-bottom: 26.04%; /* (img-height / img-width * width) */
                    /* (853 / 1280 * 100) */
    }

    .navbar-button {
      background-color: rgba(62, 142, 208, .8);
    }

    .navbar-button:hover {
      background-color: rgba(62, 142, 208, 1) !important;
    }

    .navbar-home:hover {
      background-color: rgba(62, 142, 208, 1) !important;
    }

    .navbar-burger {
      background-color: rgb(255, 255, 255) !important;
    }

    .gradient {
      background-image: linear-gradient(lightgray, white);
    }